<div id="main-header">
  <div class="main-position main-position-left">
    <h3 class="fw italic tshadow line-up delayed-7">
      {{ page.left_divider_header }}
    </h3>
    <p class="line-up delayed-8">
      {{ page.left_divider_txt }}
    </p>
  </div>
  <div class="photo">

  </div>
  <div class="main-position main-position-right">
    <h3 class="fd line-up delayed-7">
      {{ page.right_divider_header }}</h3>
    <p class="fw tshadow line-up delayed-8">
      {{ page.right_divider_txt }}
    </p>
  </div>
</div>