<div id="bg-layout">
    <div class="divider">
        <div class="rect-divider">
        </div>
        <div class="diagonal-divider">
            <svg data-name="Diagonal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 130" preserveAspectRatio="none">
                <path class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <div class="shadow-divider">
        <div class="rect-divider">
        </div>
        <div class="diagonal-divider">
            <svg data-name="Diagonal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 130" preserveAspectRatio="none">
                <path class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <div class="normal-content">
    </div>
</div>
