<div id="whoami">
    <h3>whoami</h3>

    <div class="description">
    <div class="aboutme">
        <h4>Julian '<a href="https://github.com/jul3x" target="_blank" rel="noreferrer">jul3x</a>' Prolejko</h4>
        <h5>Software Engineer</h5>
        <p>
            Software engineer specializing in creating low-latency systems and scalable distributed systems. Throughout my programming journey, I have worked on projects involving both low-level robotic applications and web systems, as well as automation.</p><p>
            My coding journey started in the web development industry.
            Since then I gained extensive experience in designing IT solutions and user interfaces. For over 10 years, I have been delivering modern software and customer-friendly web applications.</p>
        <p>
            You can find contact details inside this personal portfolio which documents some of the projects that I created and contributed to during my lifetime.</p>
    </div>
    <div class="photo">
        <a href="https://linkedin.com/in/julian-prolejko" rel="noreferrer" target="_blank">
            <img src="/assets/img/linkedin.webp" title="LinkedIn" alt="LinkedIn" />
        </a>
        <a href="https://github.com/jul3x" rel="noreferrer" target="_blank">
            <img src="/assets/img/github.webp" title="GitHub" alt="GitHub" />
        </a>
    </div>
    </div>
</div>
