<div id="top" class="bb fl">
    <div id="left-section">
        <a href="#main" class="bold">
            <h1>j3x.dev</h1>
        </a>
    </div>
    <div id="center-section">
        <menu>
            <li class="menu-link main-link">
                <a href="#main">{{ page.menu.main_page }}</a>
            </li>
            <li class="menu-link portfolio-link">
                <a href="#portfolio">{{ page.menu.portfolio }}</a>
            </li>
            <li class="menu-link offer-link">
                <a href="#offer">{{ page.menu.offer }}</a>
            </li>
            <li class="menu-link contact-link">
                <a href="#contact">{{ page.menu.contact }}</a>
            </li>
        </menu>
    </div>
    <div id="right-section">
        <a href="https://linkedin.com/in/julian-prolejko" target="_blank">
            <img src="/assets/img/linkedin.png" title="LinkedIn" alt="LinkedIn" />
        </a>
        <a href="https://github.com/jul3x" target="_blank">
            <img src="/assets/img/github.png" title="GitHub" alt="GitHub" />
        </a>
        {% if page.lang == 'en' %}
        <a href="/pl" class="lang-link">
            <img src="/assets/img/pl.svg" title="Polska wersja" alt="Polska wersja" style="filter: none; height: 25%; padding-left: 10px" />
        </a>
        {% else %}
        <a href="/en" class="lang-link">
            <img src="/assets/img/en.svg" title="English version" alt="English version" style="filter: none; height: 25%; padding-left: 10px" />
        </a>
        {% endif %}
    </div>
</div>

<div id="small-menu">
    <menu>
        <li class="menu-link" id="burger-link">
            <a style="cursor: pointer">&#9776;</a>
        </li>
        <li class="menu-link main-link">
            <a href="#main">{{ page.menu.main_page }}</a>
        </li>
        <li class="menu-link portfolio-link">
            <a href="#portfolio">{{ page.menu.portfolio }}</a>
        </li>
        <li class="menu-link offer-link">
            <a href="#offer">{{ page.menu.offer }}</a>
        </li>
        <li class="menu-link contact-link">
            <a href="#contact">{{ page.menu.contact }}</a>
        </li>
        <li class="menu-link">
        {% if page.lang == 'en' %}
        <a href="/pl" class="lang-link">
            <img src="/assets/img/pl.svg" title="Polska wersja" alt="Polska wersja" style="filter: none; height: 30%; margin-top: 20px" />
        </a>
        {% else %}
        <a href="/en" class="lang-link">
            <img src="/assets/img/en.svg" title="English version" alt="English version" style="filter: none; height: 30%; margin-top: 20px" />
        </a>
        {% endif %}
        </li>
    </menu>
</div>

<script>
    const menu = document.querySelector('#small-menu');
    const icon = document.querySelector('#burger-link');
    const navbarLinks = document.querySelectorAll('#small-menu li:not(#burger-link)');

    let isMenuOpen = false;

    function openClose(isMenuOpen) {
        if (!isMenuOpen) {
            setTimeout(() => {
                menu.style.width = '60px';
                menu.style.height = '60px';
            }, 300);
            icon.style.width = '60px';
            navbarLinks.forEach(link => {
                link.style.opacity = '0';
                link.style.pointerEvents = 'none';
            });
        } else {
            menu.style.width = 'auto';
            menu.style.height = 'auto';
            icon.style.width = '200px';
            navbarLinks.forEach(link => {
                link.style.opacity = '1';
                link.style.pointerEvents = 'auto';
            });
        }
    }
    openClose(isMenuOpen);
    navbarLinks.forEach(
        link => link.addEventListener('click', function() {
            isMenuOpen = false;
            openClose(isMenuOpen);
        })
    );
    icon.addEventListener('click', function() {
        isMenuOpen = !isMenuOpen;
        openClose(isMenuOpen);
    });

    document.querySelectorAll('.lang-link').forEach(element => element.onclick = function(event) {
        event.preventDefault();
        const currentHash = window.location.hash;
        const url = new URL(window.location.href);
        const currentParams = new URLSearchParams(url.search);
        const newUrl = `${element.href}?${currentParams.toString()}${currentHash}`;
        window.location.href = newUrl;
    });
</script>
