<div id="top" class="bb fl">
    <div id="left-section">
        <a href="/" class="bold">
            <h1>j3x.dev</h1>
        </a>
    </div>
    <div id="center-section">
        <menu>
            <li>
                <a href="#main" class="menu-link">Strona główna</a>
            </li>
            <li>
                <a href="#portfolio" class="menu-link">Portfolio</a>
            </li>
            <li>
                <a href="#offer" class="menu-link">Oferta</a>
            </li>
            <li>
                <a href="#contact" class="menu-link">Kontakt</a>
            </li>
        </menu>
    </div>
    <div id="right-section">
        <a href="/">
            <img src="/assets/img/linkedin.png" title="LinkedIn" alt="LinkedIn" />
        </a>
        <a href="/">
            <img src="/assets/img/github.png" title="GitHub" alt="GitHub" />
        </a>
    </div>
</div>
