<div id="top" class="bb fl">
    <div id="left-section">
        <a href="/" class="bold">
            <h1>j3x.dev</h1>
        </a>
    </div>
    <div id="center-section">
        <menu>
            <li class="menu-link" id="main-link">
                <a href="#main">Strona główna</a>
            </li>
            <li class="menu-link" id="portfolio-link">
                <a href="#portfolio">Portfolio</a>
            </li>
            <li class="menu-link" id="offer-link">
                <a href="#offer">Oferta</a>
            </li>
            <li class="menu-link" id="contact-link">
                <a href="#contact">Kontakt</a>
            </li>
        </menu>
    </div>
    <div id="right-section">
        <a href="/">
            <img src="/assets/img/linkedin.png" title="LinkedIn" alt="LinkedIn" />
        </a>
        <a href="/">
            <img src="/assets/img/github.png" title="GitHub" alt="GitHub" />
        </a>
    </div>
</div>
