<div class="main-header main-header-normal">
    <div class="main-position main-position-left">
        <h3 class="fw italic tshadow line-up delayed-7">
            {{ include.left_header }}
        </h3>
        <p class="line-up delayed-8">
            {{ include.left_txt }}
        </p>
    </div>
    {% if include.show_photo %}
    <div class="photo">

    </div>
    {% endif %}
    <div class="main-position main-position-right">
        <h3 class="fd line-up delayed-7">
            {{ include.right_header }}
        </h3>
        <p class="fw tshadow line-up delayed-8">
            {{ include.right_txt }}
        </p>
    </div>
</div>
