{% if page.lang == "en" %}
{% assign steps = site.steps_en %}
{% assign services = site.services_en %}
{% else %}
{% assign steps = site.steps_pl %}
{% assign services = site.services_pl %}
{% endif %}
<div class="section line-up delayed-7">
    <h4>{{ page.texts.offer_steps }}</h4>

    <ul id="offer-steps">
        {% for step in steps %}
        {% assign modulo2 = forloop.index0 | modulo: 2 %}
        {% assign modulo4 = forloop.index0 | modulo: 4 %}
        {% if modulo2 == 0 %}
        {% assign color = "--feature" %}
        {% elsif modulo4 == 1 %}
        {% assign color = "--black" %}
        {% else %}
        {% assign color = "--dark" %}
        {% endif %}
        <li style="--accent-color: var({{ color }})">
            <div class="icon"><i class="fa-solid fa-{{ step.icon }}"></i></div>
            <div class="title">{{ step.title }}</div>
            <div class="descr">{{ step.descr }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="section line-up delayed-8">
    <h4>{{ page.texts.services }}</h4>

    <ul id="offer-services">
    {% for service in services %}
    <li>
        <div class="icon"><i class="fa-solid fa-{{ service.icon }}"></i></div>
        <div class="title">{{ service.title }}</div>
        <div class="descr">
            {{ service.descr }}
        </div>
    </li>
    {% endfor %}
</ul>

</div>
<div class="section line-up delayed-9" style="display: none /* for now */">
    <h5>{{ site.texts.trust }}:</div>
</div>
