<div class="main-header">
  <div class="main-position main-position-left">
    <h3 class="fw italic tshadow line-up delayed-6">
      {{ include.left_header }}
    </h3>
    <div class="portfolio-menu line-up delayed-7">
      <ul>
        <li >
          <a href="/?q=skills#portfolio">Umiejętności</a>
        </li>
        <li>
          <a href="/?q=experience#portfolio">Doświadczenie</a>
        </li>
        <li>
          <a href="/?q=projects#portfolio">Realizacje</a>
        </li>
        <li>
          <a href="/?q=self#portfolio">Projekty własne</a>
        </li>
      </ul>
    </div>
  </div>
</div>
