<div class="projects-wrapper">
    {% assign sorted = include.projects | sort: 'date' | reverse %}
    {% for project in sorted %}
    <div class="project" id="project-{{ include.id }}-{{ forloop.index }}" onclick="openModal('{{ include.id }}', {{ forloop.index }})">
        <div class="project-img {{ include.id }}-img"
             style="
                    background-image: url('/assets/img/{{ project.img }}');
                    background-position: {{ project.img_pos }};
                    "></div>
        {% if project.video %}
        <div class="project-video" style="display: none">
            {{ project.video }}
        </div>
        {% endif %}
        <div class="project-short">
            {% assign name_length = project.name | size %}
            {% assign name_length = 10 %}
            <span class="date italic">{{ project.date | date: "%Y-%m-%d" }}</span>
            <h4 class="name" {% if name_length > 14 %}style="font-size: 0.75em;"{% endif %}>
                {{ project.name }}
            </h4>
            <p>{{ project.short }}</p>

            <div style="display: none" class="url"><a href="{{ project.project_url }}" target="_blank">{{ project.project_url }}</a></div>
            <div style="display: none" class="description">{{ project.content }}</div>
        </div>
    </div>
    {% endfor %}
</div>
