{% if page.lang == "en" %}
{% assign skills = site.skills_en %}
{% assign experience = site.experience_en %}
{% assign realizations = site.realizations_en %}
{% assign projects = site.projects_en %}
{% else %}
{% assign skills = site.skills_pl %}
{% assign experience = site.experience_pl %}
{% assign realizations = site.realizations_pl %}
{% assign projects = site.projects_pl %}
{% endif %}
<div class="portfolio-menu line-up delayed-7">
    <ul>
        <li id="portfolio-menu-skills" class="portfolio-menu-item">
            <a href="#portfolio?p=skills" onclick="portfolioMenu('skills');return false;">{{ page.labels.skills }}</a>
        </li>
        <li id="portfolio-menu-experience" class="portfolio-menu-item">
            <a href="#portfolio?p=experience" onclick="portfolioMenu('experience');return false;">{{ page.labels.experience }}</a>
        </li>
        <li id="portfolio-menu-realizations" class="portfolio-menu-item">
            <a href="#portfolio?p=realizations" onclick="portfolioMenu('realizations');return false;">{{ page.labels.realizations }}</a>
        </li>
        <li id="portfolio-menu-projects" class="portfolio-menu-item">
            <a href="#portfolio?p=projects" onclick="portfolioMenu('projects');return false;">{{ page.labels.projects }}</a>
        </li>
    </ul>
</div>

<div class="portfolio-sections line-up delayed-7">
    <div id="skills" class="portfolio-section">
        <h4 class="m0 p0">
            {{ page.texts.portfolio }}
        </h4>
        <p>
            {{ page.texts.portfolio_p }}
        </p>
        <p class="skills-preamble">
            {{ page.texts.portfolio_intro }}
        </p>
        <ul>
            {% for skill in skills %}
            <li class="skill">
                <i class="fa-solid fa-{{ skill.icon }} icon"></i>
                <div class="header bold">
                   <div>{{ skill.header }}</div>
                </div>
                <div class="description">
                    <p>{{ skill.content }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>

        <h4 class="devstack">
            Dev stack:
        </h4>
        <p class="m0 p0 bold">
            {{ include.dev_stack }}
        </p>
    </div>
    <div id="experience" class="portfolio-section">
        <h4 class="m0 p0">
            {{ page.texts.experience }}
        </h4>
        <ul>
            {% for exp in experience %}
            <li class="experience-unit">
                <div class="top">
                    <div class="img">
                        <img src="/assets/img/{{ exp.logo }}" alt="{{ exp.company }} - {{ exp.position }}" title="{{ exp.company }} - {{ exp.position }}" class="shadowed" />
                        <img src="/assets/img/{{ exp.logo }}" alt="{{ exp.company }} - {{ exp.position }}" title="{{ exp.company }} - {{ exp.position }}" class="static" />
                    </div>
                    <div class="header">
                        <div class="italic">{{ exp.period }}</div>
                        <span class="bold">{{ exp.company }}</span> - {{ exp.position }}
                    </div>
                </div>
                <p class="description">
                    {{ exp.content }}
                </p>
                <div class="skills italic">
                    {{ page.texts.portfolio }}: {{ exp.skills }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="realizations" class="projects-section portfolio-section">
        {% include portfolio-projects.html
           projects=realizations
           id="realizations"
         %}
    </div>
    <div id="projects" class="projects-section portfolio-section">
        {% include portfolio-projects.html
           projects=projects
           id="projects"
        %}
    </div>
</div>

<script type="text/javascript">
    function portfolioMenu(section, dontUpdateURL) {
        if (!dontUpdateURL) {
            const currentTitle = document.title;
            const currentState = history.state;
            history.pushState(currentState, currentTitle, `?p=${section}#portfolio`);
        }

        /* Change style of link */
        Array.from(document.querySelectorAll('.portfolio-menu .portfolio-menu-item')).forEach((el) => {
            el.classList.remove('active');
        });

        const sectionDOM = document.getElementById('portfolio-menu-' + section)
        if (!sectionDOM) {
            return false;
        }
        sectionDOM.classList.add('active');

        /* Show appropriate section */
        Array.from(document.querySelectorAll('.portfolio-sections .portfolio-section')).forEach((el) => {
            if (el.id == section) {
                return;
            }

            el.style = 'opacity: 0; display: none';
        })

        const activeSection = document.getElementById(section);
        activeSection.style = 'display: block; opacity: 1';
        return true;
    }

    const url = new URL(window.location.href);
    const portfolioParam = url.searchParams.get('p') || 'skills';

    if (!portfolioMenu(portfolioParam, /* dont update URL */ true)) {
        portfolioMenu('skills', true);
    }
</script>
