/** Header  */

#header {
    width: 100%;
    background: url('../img/bg.webp');
    background-color: var(--dark);
    position: absolute;
    top: 0;
    z-index: -2;
    -webkit-animation: 2s headerPopIn;
            animation: 2s headerPopIn;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
    overflow: hidden;
}

@-webkit-keyframes headerPopIn {
    0% {
        height: 100%
    }

    100% {
        height: calc(50% + 100px);
    }
}

@keyframes headerPopIn {
    0% {
        height: 100%
    }

    100% {
        height: calc(50% + 100px);
    }
}

#header h2 {
    position: absolute;
    left: 50%;
    width: 96%;
    -webkit-transform: translateX(-50%) translateY(-100%);
        -ms-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    -webkit-animation: 2s headerH2PopIn;
            animation: 2s headerH2PopIn;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
}

@-webkit-keyframes headerH2PopIn {
    0% {
        top: 50%;
    }

    100% {
        top: 35%;
    }
}

@keyframes headerH2PopIn {
    0% {
        top: 50%;
    }

    100% {
        top: 35%;
    }
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    -webkit-box-shadow: var(--feature) 0px 0px 20px 10px;
            box-shadow: var(--feature) 0px 0px 20px 10px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.light:nth-child(even) {
    -webkit-box-shadow: var(--light) 0px 0px 20px 2px;
            box-shadow: var(--light) 0px 0px 20px 2px;
}

.x1 {
    -webkit-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
        transform: scale(1.0);
}

.x2 {
    -webkit-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
        transform: scale(1.6);
    left: 15%;
}

.x3 {
    -webkit-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
        transform: scale(.5);
    left: -15%;
}

.x4 {
    -webkit-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
    left: -34%;
}

.x5 {
    -webkit-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -ms-transform: scale(2.2);
        transform: scale(2.2);
    left: -57%;
}

.x6 {
    -webkit-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
        transform: scale(.8);
    left: -81%;
}

.x7 {
    -webkit-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -ms-transform: scale(3.2);
        transform: scale(3.2);
    left: 37%;
}

.x8 {
    -webkit-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
        transform: scale(1.7);
    left: 62%;
}

.x9 {
    -webkit-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
        transform: scale(0.9);
    left: 85%;
}

@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

/** Layout */

#bg-layout {
    position: absolute;
    width: 100%;
    top: calc(50% + 100px - 205px);
    height: calc(50% - 100px + 205px);
    overflow: hidden;
    z-index: -2;
}

#bg-layout .normal-content {
    position: absolute;
    width: 100%;
    left: 0;
    height: 50%;
    background-color: var(--light);
    -webkit-animation: 2s bgLayoutPopIn;
            animation: 2s bgLayoutPopIn;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}

@-webkit-keyframes bgLayoutPopIn {
    0% {
        top: 100%;
    }

    100% {
        top: 200px;
    }
}

@keyframes bgLayoutPopIn {
    0% {
        top: 100%;
    }

    100% {
        top: 200px;
    }
}

.divider {
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 200px;
    z-index: 0;
    -webkit-animation: 2s dividerPopIn;
            animation: 2s dividerPopIn;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@-webkit-keyframes dividerPopIn {
    0% {
        top: 100%;
    }

    100% {
        top: 5px;
        -webkit-transform: 0;
                transform: 0;
    }
}

@keyframes dividerPopIn {
    0% {
        top: 100%;
    }

    100% {
        top: 5px;
        -webkit-transform: 0;
                transform: 0;
    }
}

.rect-divider {
    width: 34vw;
    height: 200px;
    background: var(--light);
    margin: 0;
    padding: 0;
}

.diagonal-divider {
    width: 66vw;
    height: 200px;
    overflow: hidden;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.diagonal-divider svg {
    width: 100%;
    height: 100%;
}

.diagonal-divider .shape-fill {
    fill: var(--light);
}

.shadow-divider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: -1;
    -webkit-animation: 2s shadowDividerPopIn;
            animation: 2s shadowDividerPopIn;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@-webkit-keyframes shadowDividerPopIn {
    0% {
        top: 100%;
    }

    100% {
        top: 0;
        -webkit-transform: 0;
                transform: 0;
    }
}

@keyframes shadowDividerPopIn {
    0% {
        top: 100%;
    }

    100% {
        top: 0;
        -webkit-transform: 0;
                transform: 0;
    }
}

.shadow-divider .diagonal-divider .shape-fill {
    fill: var(--feature);
}

.shadow-divider .rect-divider {
    background-color: var(--feature);
}

/** Main page header */
.main-header {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 500px;
    z-index: 3;
}

.main-position {
    width: 25%;
    height: 100%;
    position: absolute;
}

.main-position-left h3 {
    text-align: left;
    width: 100%;
    top: 18%;
    -webkit-transform: translateY(-100%) !important;
        -ms-transform: translateY(-100%) !important;
            transform: translateY(-100%) !important;
    left: 0;
    position: absolute;
    word-wrap: break-word;
}

.main-position-left p,
.main-position-left div {
    top: 30%;
    left: 0;
    position: absolute;
}

.main-position-right h3 {
    text-align: right;
    width: 100%;
    left: 0;
    bottom: 22%;
    -webkit-transform: translateY(100%) !important;
        -ms-transform: translateY(100%) !important;
            transform: translateY(100%) !important;
    position: absolute;
    word-wrap: break-word;
}

.main-position-right p {
    bottom: 35%;
    left: 0;
    position: absolute;
    text-align: right;
}

.main-position-left {
    left: 5%;
}

.main-position-right {
    right: 5%;
}

/** Std pages header */
.main-header-normal {
    height: auto !important;
    top: 33% !important;
}

.main-header-normal .main-position-left h3 {
    top: 10%;
}
