/** Top bar */

#small-menu {
    display: none;
}

@media (max-width: 800px) {
    #contact-form-response {
        top: auto;
        bottom: 20px;
    }

    #small-menu {
        display: block;
        position: fixed;
        z-index: 100;
        -webkit-animation: 2s fadeIn;
                animation: 2s fadeIn;
        -webkit-animation-delay: 3s;
                animation-delay: 3s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        width: 250px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        overflow: visible;
        margin: 10px;
    }

    #top {
        display: none;
    }

    #small-menu menu {
        display: block;
        text-align: left;
    }

    #small-menu * li {
        background-color: var(--black);
        padding-left: 17px;
        width: 200px;
        font-size: 120%;
        height: 60px;
        -webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 0px 20px 10px;
                box-shadow: inset rgba(0, 0, 0, 0.4) 0px 0px 20px 10px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
    }

    #burger-link {
        display: block !important;
        height: 60px !important;
        width: 60px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        padding: 0 !important;
        line-height: 1.6;
        opacity: 1 !important;
    }

    #burger-link a {
        font-size: 200%;
        text-align: center;
    }

    menu {
        padding: 0 !important;
    }

    menu li {
        border-bottom: 4px #000000 solid;
        line-height: 3;
    }

    /* Only for safari - wierd */
    .safari #burger-link {
        line-height: 1.35 !important;
    }
}

/** Main header */
@media (max-width: 1000px) {
    .photo {
        width: 75%
    }

    .main-position-left {
        left: 5% !important;
        top: 81% !important;
        width: 43% !important;
    }

    .main-position-left h3 {
        color: var(--dark);
        text-shadow: none !important;
        top: 23%;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .main-position-right h3 {
        bottom: 28%;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .main-position-right {
        right: 5% !important;
        top: 77% !important;
        width: 43% !important;
    }

    .main-position-right p {
        top: 23%;
        color: var(--dark);
        text-shadow: none !important;
    }

    #main-content {
        top: calc(50% + 550px);
        bottom: auto;
    }

    #contact .main-header .main-position-left {
        top: 85% !important;
        left: 50% !important;
        width: 300px !important;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    #contact .main-header .main-position-left h3 {
        text-align: center !important;
    }

    #contact-content {
        bottom: auto !important;
        top: calc(50% + 450px) !important;
    }

    #contact-text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #contact-form-wrapper {
        padding-right: 0;
        width: 75%;
    }

    #contact-info {
        padding-left: 0;
        width: 75%;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .main-position-left {
        width: 90% !important;
        left: 5% !important;
        top: 82% !important;
    }
    .main-position-right {
        width: 90% !important;
        left: 5% !important;
        top: calc(82% + 250px) !important;
    }
    .main-position-right h3 {
        bottom: auto !important;
        -webkit-transform: translateY(-100%) !important;
            -ms-transform: translateY(-100%) !important;
                transform: translateY(-100%) !important;
        top: 16% !important;
        text-align: center;
    }
    .main-position-left h3 {
        text-align: center;
    }
    .main-position-right p {
        text-align: left;
    }
    #main-content {
        top: calc(50% + 680px);
        bottom: auto;
    }

    #contact-form-wrapper {
        width: 100%;
    }

    #contact-info {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .main-position-left {
        top: 73% !important;
    }
    .main-position-right {
        top: calc(73% + 260px) !important;
    }
    #contact .main-header .main-position-left {
        top: 70% !important;
        width: 250px !important;
    }
    #contact-content {
        bottom: auto !important;
        top: calc(50% + 360px) !important;
    }
    #contact-id-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #contact-email-wrapper {
        width: 100% !important;
        margin-right: 0;
    }
    #contact-name-wrapper {
        width: 100% !important;
        margin-left: 0;
    }
}

@media (max-width: 440px) {
    .main-position-right {
        top: calc(82% + 290px) !important;
    }
    #main-content {
        top: calc(50% + 800px);
        bottom: auto;
    }
    #contact .main-header .main-position-left {
        top: 65% !important;
        width: 250px !important;
    }
    #contact-content {
        bottom: auto !important;
        top: calc(50% + 360px) !important;
    }
}

@media (max-width: 400px) {
    .main-position-right {
        top: calc(82% + 340px) !important;
    }
    #main-content {
        top: calc(50% + 860px);
        bottom: auto;
    }

    p, div.descr {
        text-align: left !important;
    }
}


/* Text header */
@media (max-width: 800px) {
    #header h2 {
        -webkit-animation: 2s headerH2PopInMobile;
                animation: 2s headerH2PopInMobile;
        -webkit-animation-delay: 4.5s;
                animation-delay: 4.5s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        font-size: 35px;
    }

    @-webkit-keyframes headerH2PopInMobile {
        0% {
            top: 50%;
        }

        100% {
            top: 33%;
        }
    }

    @keyframes headerH2PopInMobile {
        0% {
            top: 50%;
        }

        100% {
            top: 33%;
        }
    }
}

@media (max-height: 850px) {
    .photo {
        height: 70%;
    }
}

@media (max-height: 1000px) {
    .photo {
        height: 80%;
    }
}

@media (min-width: 1001px) and (max-height: 1000px) {
    #main-content, #contact-content {
        top: calc(50% + 180px);
        bottom: auto;
    }
}

@media (min-width: 1001px) and (max-height: 750px) {
    #header h2 {
        display: none;
    }
}

/* Text header */
@media (min-width: 500px) and (max-height: 750px) {
    #header h2 {
        -webkit-animation: 2s headerH2PopInMobile2;
                animation: 2s headerH2PopInMobile2;
        -webkit-animation-delay: 4.5s;
                animation-delay: 4.5s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        font-size: 30px;
    }

    @-webkit-keyframes headerH2PopInMobile2 {
        0% {
            top: 50%;
        }

        100% {
            top: 25%;
        }
    }

    @keyframes headerH2PopInMobile2 {
        0% {
            top: 50%;
        }

        100% {
            top: 25%;
        }
    }

    .photo {
        height: 60% !important;
    }

    @media (max-width: 1000px) {
        .main-position-left {
            -webkit-transform: translateY(-100px);
                -ms-transform: translateY(-100px);
                    transform: translateY(-100px);
        }
        .main-position-right {
            -webkit-transform: translateY(-100px);
                -ms-transform: translateY(-100px);
                    transform: translateY(-100px);
        }

        #main-content, #contact-content {
            -webkit-transform: translateY(-100px);
                -ms-transform: translateY(-100px);
                    transform: translateY(-100px);
        }

        #contact .main-header .main-position-left {
            -webkit-transform: translateX(-50%) translateY(-100px);
                -ms-transform: translateX(-50%) translateY(-100px);
                    transform: translateX(-50%) translateY(-100px);
        }
    }
}

/* Text header */
@media (min-width: 500px) and (max-height: 500px) {
    #header h2 {
        display: none;
    }
}

@media (max-width: 1000px) {
    #offer .main-header,
    #portfolio .main-header {
        display: none;
    }
}

/* Portfolio */

@media (max-width: 1200px) {
    .portfolio-section {
        width: 95% !important;
    }
    #skills ul,
    #experience ul {
        width: 100%;
    }

    #experience ul {
        margin: -50px auto !important;
    }

    .experience-unit .top {
        position: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0.9rem;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .experience-unit .top .img {
        padding-right: 0;
        width: 80%;
        max-width: 180px;
        height: 75px;
        position: relative;
    }

}

@media (max-width: 800px) {
    #skills .skill {
        margin-top: 50px !important;
    }
}

@media (max-width: 600px) {
    #skills .skill {
        margin-top: 10px !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 200px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0;
        border: 0;
    }
    .experience-unit {
        border: 0 !important;
        padding-left: 0 !important;
    }
    #skills .skill:hover, .experience-unit:hover {
        border: 0 !important;
    }
    #skills .skill .icon {
        text-align: center;
    }
    #skills .skill .header {
        height: 55px !important;
        width: 100% !important;
        text-align: center;
    }
    #skills .skill .header div {
        width: 100%;
    }
    #skills .skill .description {
        width: 90%;
    }
    #skills .skill .description p {
        top: 0px !important;
        -webkit-transform: none !important;
            -ms-transform: none !important;
                transform: none !important;
    }

    .portfolio-menu {
        height: 220px;
    }

    .portfolio-menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 190px;
    }
    .portfolio-menu ul li a {
        padding-top: 10px;
    }
    .portfolio-menu ul li a {
        padding-bottom: 0;
    }
}

@media (max-width: 480px) {
    #skills .skill {
        height: 210px;
    }
}

@media (max-width: 400px) {
    #skills .skill {
        height: 220px;
    }
}

/* Portfolio grid */
@media (max-width: 1650px) {
    .projects-wrapper {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1150px) {
    .projects-wrapper {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px) {
    .modal-content .img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

}

@media (max-width: 600px) {
    .project {
        display: block;
        position: auto;
    }

    .project-img {
        opacity: 1;
        position: auto;
        width: 100%;
        -webkit-filter: brightness(0.3);
                filter: brightness(0.3);
    }

    .project .project-short {
        width: 100%;
        height: auto;
        background-color: none;
        margin-top: 0;
        left: 0;
        top: 0;
    }

    .project .project-short span {
        top: -240px;
        text-shadow: 0 0 10px #000000;
    }

    .project .project-short h4 {
        text-shadow: 0 0 10px #000000;
    }

    .project .project-short p {
        text-shadow: 0 0 10px #000000;
        font-weight: 400;
    }

    #modal {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .modal-content {
        padding: 10px;
        width: 90%;
    }

    .close {
        right: 10px;
        top: 0px;
    }

    .modal-content .url {
        word-break: break-word;
    }

    .modal-content .description {
        width: 95%;
        word-break: break-word;
    }

    .modal-column {
        width: 100%;
        padding: 0 !important;
    }
}
