/** Top bar */

#top {
    width: 100%;
    height: 70px;
    display: flex;
    line-height: 4.1;
    position: fixed;
    top: 0;
    left: 0;
    animation: 2s fadeIn;
    animation-delay: 6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 10px;
    z-index: 100;
}

#top div {
    flex-grow: 1;
}

#top h1 {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 2.7;
    transition: 0.3s;
}

#top h1:hover {
    font-size: 26px;
}

#left-section {
    margin-left: 5vw;
    text-align: left;
    width: 20vw;
}

#right-section {
    margin-right: 5vw;
    width: 20vw;
    text-align: right;
}

#right-section * img {
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    transition: 0.3s;
    filter: brightness(0) invert(1);
}

#right-section * img:hover {
    filter: none;
}

menu {
    display: flex;
    width: auto;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

menu li {
    flex-grow: 1;
    transition: 0.4s;
    border-bottom: 4px rgba(0, 0, 0, 0) solid;
}

#top * a {
    color: var(--light);
    display: inline-block;
    height: 100%;
}

#top * a:hover {
    color: var(--feature);
}

#top * li:hover {
    border-bottom: 4px var(--feature) solid
}

/** Main page header */
.main-header {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 500px;
    z-index: 3;
}

.main-position {
    width: 25%;
    height: 100%;
    position: absolute;
}

.main-position-left h3 {
    text-align: left;
    top: 8%;
    left: 0;
    position: absolute;
}

.main-position-left p,
.main-position-left div {
    top: 30%;
    left: 0;
    position: absolute;
}

.main-position-right h3 {
    text-align: right;
    left: 0;
    bottom: 12%;
    position: absolute;
}

.main-position-right p {
    bottom: 35%;
    left: 0;
    position: absolute;
}

.main-position-left {
    left: 5%;
}

.main-position-right {
    right: 5%;
}

.photo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 20%;
    height: 100%;
    background: url('../img/photo_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    animation-fill-mode: both;
    animation: photoFadeIn 8s;
    animation-timing-function: ease-in-out;
    filter: grayscale(50%);
}


@keyframes photoFadeIn {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
        -webkit-filter: blur(10px) grayscale(50%);
        filter: blur(10px) grayscale(50%);
    }

    100% {
        opacity: 1;
        -webkit-filter: blur(0px) grayscale(50%);
        filter: blur(0px) grayscale(50%);
    }
}

/** Content */

.page-content {
    top: calc(50vh + 100px - 205px) !important;
    bottom: auto !important;
    left: 5% !important;
    width: 90% !important;
    padding: 0 !important;
}

.content {
    color: var(--dark);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 50px 50px 50px;
    z-index: 5;
    transition: 0.5s;
}

.content p {
    text-align: center;
}

.content .section {
    margin: 25px 0;
}

section {
    opacity: 0;
    transition: 0.5s;
}

@keyframes sectionShow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#main:target,
#portfolio:target,
#offer:target,
#contact:target {
    opacity: 1;
    animation-name: sectionShow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: 1;
}

/** Portfolio */

#portfolio-content {
    width: 100% !important;
    left: 0 !important;
}

.portfolio-menu {
    width: 90%;
    height: 70px;
    margin: 30px auto;
    margin-bottom: 0;
}

.portfolio-menu ul {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    font-weight: 700;
}

.portfolio-menu ul li {
    flex-grow: 1;
    text-align: center;
    transition: 0.3s;
    border-bottom: 4px var(--dark) solid;
}

.portfolio-menu ul li a {
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    color: var(--dark);
}

.portfolio-menu ul li:hover {
    border-bottom: 4px var(--feature) solid;
}

.portfolio-menu ul a:hover {
    color: var(--feature);
}

.portfolio-menu ul li.active {
    border-bottom: 4px var(--feature) solid;
}

.portfolio-menu ul li.active a {
    color: var(--feature);
}

.portfolio-sections {
    text-align: center;
    padding-bottom: 30px;
}

.portfolio-sections .portfolio-section {
    display: none;
    transition: opacity 0.6s ease-in-out;
    width: 75%;
    margin: 0 auto;
}

#skills .skills-preamble {
    margin-top: 40px;
}

#skills ul, #experience ul {
    width: 80%;
    margin: 0 auto;
}

#skills .skill, #experience .experience-unit {
    width: 100%;
    display: flex;
    margin-top: 25px;
    transition: 0.4s;
    border-left: 4px rgba(0, 0, 0, 0) solid;
    padding-left: 8px;
}

#skills .skill:hover, #experience .experience-unit:hover {
    color: var(--feature);
    border-left: 4px var(--feature) solid;
}

#skills .skill .header {
    width: 20%;
    text-align: left;
    word-wrap: break-word;
    font-size: 18px;
    position: relative;
}

#skills .skill .header div {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#skills .skill .description {
    flex-grow: 1;
    width: 50%;
    position: relative;
}

#skills .skill .description p {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#skills .skill .icon {
    font-size: 36pt;
    width: 90px;
    text-align: left;
}

.devstack {
    margin: 20px 0;
}

.experience-unit .header {
    text-align: left;
    padding-left: 10px;
}

.experience-unit {
    display: block !important;
    margin-top: 50px !important;
}

.experience-unit .top {
    display: flex;
}

.experience-unit .top .img {
    width: 20%;
    padding-right: 25px;
    position: relative;
}

.experience-unit .img img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100% - 30px);
    max-height: 100%;
    transition: 0.4s;
    opacity: 1;
}

#experience .experience-unit img.shadowed {
    filter: invert(30%) sepia(72%) saturate(4157%) hue-rotate(336deg) brightness(96%) contrast(105%);
    opacity: 0;
}

#experience .experience-unit:hover img.static {
    opacity: 0;
}

#experience .experience-unit:hover img.shadowed {
    opacity: 1;
}

.experience-unit p {
    text-align: justify;
}

.experience-unit .skills {
    margin-top: 15px;
}

/** Projects */
.projects-section {
    width: 100% !important;
}

.projects-wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 30px;
    margin: 0 auto;
}

.project {
    background-color: var(--light);
    background: url('/assets/img/bg.jpg');
    /* border-top: 4px solid var(--dark); */
    /* border-bottom: 4px solid var(--dark); */
    padding: 0;
    width: 30%;
    height: 250px;
    text-align: left;
    display: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
}

.project-img {
    width: 45%;
    height: 100%;
    background-size: auto 110%;
    background-repeat: no-repeat;
    box-shadow: inset rgba(0, 0, 0, 1) 0px 0px 60px -12px; 
    opacity: 0.5;
    transition: 0.3s;
}

.project:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.project:hover .project-img {
    opacity: 1;
}

.project:hover .project-short {
    background-color: rgba(0, 0, 0, 0.6);
}

.project .project-short {
    width: 55%;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--light);
    position: relative;
    transition: 0.3s;
}

.project .project-short span {
    top: 15px;
    position: absolute;
    right: 20px;
}

.project .project-short h4 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
}

.project .project-short p {
    bottom: 50px;
    right: 20px;
    padding-left: 20px;
    position: absolute;
    text-align: right;
}

/* Modal */
#modal {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 100000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

/* Modal Content */
.modal-content {
    background-color: var(--light);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0.8);
    cursor: default;
    position: relative;
}

/* The Close Button */
.close {
    color: var(--dark);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
}

.close:hover,
.close:focus {
    color: var(--feature);
    text-decoration: none;
    cursor: pointer;
}
