<!doctype html>
<html class="no-js" lang="{{ site.lang }}">

<head>
    <meta charset="utf-8">
    <title>{{ page.titles.main }}</title>
    <meta name="description" content="{{ page.titles.main }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ page.titles.main }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://j3x.dev">
    <meta property="og:image" content="https://j3x.dev/img/logo.png">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/basic.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/rwd.css">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#ebeae3">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="/assets/js/fontawesome.js" crossorigin="anonymous"></script>
    <link rel="alternate" hreflang="en" href="https://j3x.dev/en/" />
    <link rel="alternate" hreflang="pl" href="https://j3x.dev/pl/" />
</head>

<body>

    <div id="wrapper">
        {% include menu.html %}

        <div id="header">
            <div class='light x1'></div>
            <div class='light x2'></div>
            <div class='light x3'></div>
            <div class='light x4'></div>
            <div class='light x5'></div>
            <div class='light x6'></div>
            <div class='light x7'></div>
            <div class='light x8'></div>
            <div class='light x9'></div>
            <h2 class="fw tshadow">
                <div class="typewrite" data-period="15000">
                    <span class="wrap"></span>
                    <div class="caret"></div>
                </div>
            </h2>
        </div>

        {% include divider.html %}

        <section id="main" data-type="{{ page.typers.main }}" class="page-section">
            {% include divider-content.html
          left_header=page.texts.left_header
          left_txt=page.texts.main_left
          right_header=page.texts.right_header
          right_txt=page.texts.main_right
          show_photo=1
          %}
            <div class="content" id="main-content">
                {{ content }}
            </div>
        </section>
        <section id="portfolio" data-type="{{ page.typers.portfolio }}" class="page-section">
            {% include divider-content.html
            left_header=page.headers.portfolio
            %}
            <div class="content page-content" id="portfolio-content">
                {% include portfolio.html
                dev_stack=page.texts.dev_stack
                %}
            </div>
        </section>
        <section id="offer" data-type="{{ page.typers.offer }}" class="page-section">
            {% include divider-content.html
          left_header=page.headers.offer
          %}
            <div class="content page-content" id="offer-content">
                {% include offer.html %}
            </div>
        </section>
        <section id="contact" data-type="{{ page.typers.contact }}" class="page-section">
            {% include divider-content.html
          left_header=page.headers.contact
          left_txt=page.texts.contact
          show_photo=1
          %}
            <div class="content" id="contact-content">
                {% include contact.html %}
            </div>
        </section>
    </div>

    <div id="modal">
        <div class="modal-content">
            <span class="index" style="display: none"></span>
            <span class="type" style="display: none"></span>
            <span class="close" id="modal-close">&times;</span>
            <span class="date">
            </span>
            <div class="img">
            </div>
            <h4 class="name">
            </h4>
            <div class="url bold"></div>
            <p class="description">
            </p>
        </div>
    </div>

    <script type="text/javascript">
        /* SPA behavior */
        if (document.location.hash == "" || document.location.hash == "#") {
            document.location.hash = "#main";
        }

        const titles = {
            {% for title in page.titles %}
            '#{{ title[0] }}': "{{ title[1] }}",
            {% endfor %}
        };

        let hashChangeMutex = false;
        function hashChange(init) {
            if (hashChangeMutex) return;
            hashChangeMutex = true;

            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });

            setTimeout(() => {
            /* Change the header svg variation from triangular to rectangular */
            Array.from(document.getElementsByClassName("shape-fill")).forEach((el) => {
                if (document.location.hash == "#main" || document.location.hash == "#contact") {
                    el.setAttribute("d", "M0 120 L0 0 L1200 120 L2400 120 L2400 130 L0 130 L0 120z");
                } else {
                    el.setAttribute("d", "M0 120 L0 0 L1200 0 L2400 0 L2400 130 L0 130 L0 120z");
                }
            });

            /* Display content to affect site height change */
            Array.from(document.getElementsByClassName("content")).forEach((el) => {
                el.style = "height: 0";
            });

            /* Hur-dur, no user data validation, insecure, nvm. */
            let el = document.querySelector(document.location.hash + '-content');
            if (el) {
                el.style = "height: auto";
            } else {
                document.location.hash = "#main";
                el = document.querySelector(document.location.hash + '-content');
                el.style = "height: auto";
            }

            /** If hash has changed - we need to remove parameters */
            const url = new URL(window.location.href);
            if (!init) {
                const newUrl = url.origin + url.pathname + url.hash;
                history.replaceState({}, titles[url.hash], newUrl);
            }
            document.title = titles[url.hash];

            Array.from(document.getElementsByClassName("menu-link")).forEach((el) => {
                el.classList.remove('active');
            });
            let menuItem = document.querySelectorAll('.' + document.location.hash.slice(1) + '-link');
                menuItem.forEach(item => item.classList.add('active'));
            }, 500);
            hashChangeMutex = false;
        }

         addEventListener("hashchange", (event) => {
             hashChange();
         });
         addEventListener("popstate", (event) => {
             hashChange(true);
         });
         hashChange(true);

         /** Modal (a bit of abstraction leak) */
         const modal = document.getElementById('modal');
         const close = document.getElementById('modal-close');
         const modalImg = modal.getElementsByClassName('img')[0];
         const modalIndex = modal.getElementsByClassName('index')[0];
         const modalType = modal.getElementsByClassName('type')[0];

         function openModal(ident, index) {
             const project = document.getElementById('project-' + ident + '-' + index);
             if (!project) {
                 return;
             }

             const video = project.getElementsByClassName('project-video');
             const projectName = project.getElementsByClassName('name')[0].textContent;

             const currentTitle = `${titles['#' + ident]} - ${projectName}`;
             const currentState = history.state;
             const currentHash = window.location.hash;
             history.pushState(currentState, currentTitle, `?p=${ident}&id=${index}${currentHash}`);
             document.title = currentTitle;

             modalType.innerHTML = ident;
             modalIndex.innerHTML = index;
             if (video.length > 0) {
                 const videoStr = `<iframe src="${video[0].innerHTML}" title="${projectName}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
                 modalImg.innerHTML = videoStr;
                 modalImg.style.backgroundImage = '';
             } else {
                 const src = project.getElementsByClassName('project-img')[0].style.backgroundImage;
                 const image = `<img src=${src.slice(4, -1)} style="height: 100%"/>`;
                 modalImg.innerHTML = image;
             }

             modal.getElementsByClassName('date')[0].textContent = project.getElementsByClassName('date')[0].textContent;
             modal.getElementsByClassName('name')[0].textContent = projectName;
             modal.getElementsByClassName('description')[0].innerHTML = project.getElementsByClassName('description')[0].innerHTML;
             modal.getElementsByClassName('url')[0].innerHTML = project.getElementsByClassName('url')[0].innerHTML;
             modal.style.display = 'block';

             /** Without that delay css does not want to make animation */
             setTimeout(() => {
                 modal.style.opacity = 1.0;
             }, 10);
         }

         /** Control modal */
         function closeModal() {
             if (modalImg) {
                 modalImg.innerHTML = '';
             }

             if (modal && modal.style.display == 'block') {
                 modal.style.opacity = 0;
                 setTimeout(() => {
                     modal.style.display = 'none';
                 }, 300);
             } else {
                 return;
             }

             const queryString = window.location.search;
             const currentHash = window.location.hash;
             const currentParams = new URLSearchParams(queryString);
             currentParams.delete('id');
             const currentTitle = titles['#' + (currentParams.get('p') || 'realizations')];
             const currentState = history.state;
             history.pushState(
                 currentState, currentTitle,
                 `?${currentParams.toString()}${currentHash}`
             );
             document.title = currentTitle;
         }

         close.onclick = closeModal;
         document.addEventListener("click", (event) => {
             if (event.target == modal) {
                 closeModal();
             }
         });

         document.body.addEventListener('keydown', function(e) {
             const idx = Number(modalIndex.innerHTML);
             if (e.key == "Escape") {
                 closeModal();
             }

             /* If modal is opened */
             if (modal.style.display === "block") {
                 if (e.key == "ArrowLeft") {
                     openModal(modalType.innerHTML, idx - 1);
                 } else if (e.key == "ArrowRight") {
                     openModal(modalType.innerHTML, idx + 1);
                 }
             }
         });

         /** Block scrollbar for animation period */
         document.body.style.overflowY = 'hidden';
         setTimeout(() => {
             document.body.style.overflowY = 'initial';
         }, 7000);

    </script>
    <script src="/assets/js/modernizr-3.11.8.min.js"></script>
    <script src="/assets/js/typewrite.js"></script>

</body>

</html>
